h1 {
	font-family: Times New Roman;
	font-weight: bold; 
}

p { 
	font-family: Times New Roman;
} 

.w3-bar-block .w3-bar-item {
	padding:20px
}
body {
	background-color: #D6EAF8;
}
.header { 
	padding: 100px;
	text-align: center;
	background-image: url("header_img.jpg");
	color: blue;
	font-size: 30px;
} 
